
* { 
    margin: 0; 
    padding: 0; 
    
}

html {

}
body { 
    background: #aaa;
    background: linear-gradient(#ddd 0%, #bbb 10%, #aaa 80%, #888 100%); 
    width: 100%;
}

h1 {
    margin: 20px;
    text-align: center;
    font-family: "Georgia", "Arial";
    font-size: 20px;
}

.flash-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0.3;
    background: url("https://www.adobe.com/content/dam/acom/en/legal/images/badges/GetAdobeFlashPlayer_icon.png");
}
#flashContent { 
    width: 550px; 
    height: 400px; 
    margin: 20px auto 40px; 
    border: 1px outset #ffffff; 
    box-shadow: 3px 4px 4px rgba(0,0,0,0.2);
}


@media screen and (max-width: 550px) {
    object {
        width: 100%;
        height: 100%;	
    }
    #flashContent {
        width:100%;
    }
}
